* {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(25, 88, 88);
  padding: 0;
  margin: 0;
}

/* Cuadro de calculadora */
#calculator {
  width: 500px;
  height: 550px;
  margin: 0 auto;
  margin-top: 20px;
}

/* Pantalla de resultados */
#result {
  height: 124px;
  background-color: white;
  width: 400px;
  border: 1px inset rgb(0, 0, 0);
}
#mostrarHistoria {
  padding-left: 15px;
  padding-top: 5px;
  float: left;
  justify-content: right;
  background-color: white;
  font-size: 30px;
  display: flex;
}
#mostrarHistoria label {
  background-color: white;
  font-size: 30px;
}

#resultado {
  padding-right: 15px;
  padding-top: 5px;
  float: right;
  justify-content: right;
  background-color: white;
  font-size: 30px;
  display: flex;
}
#resultado label {
  background-color: white;
  font-size: 30px;
}

/* Botones */
.botones {
  width: 100px;
  height: 100px;
  background-color: cadetblue;
  border-style: none;
  border: 1px solid darkcyan;
}
.botones:hover {
  background-color: darkcyan;
}
.botones.suma {
  background-color: darkcyan;
  font-size: 30px;
}
.botones.suma:hover {
  background-color: rgb(53, 129, 129);
  color: white;
}

#filaUno {
  float: none;
  display: flex;
}
#filaDos {
  float: none;
  display: flex;
}
#filaTres {
  float: none;
  display: flex;
}
#filaCuatro {
  float: none;
  display: flex;
}
#reset {
  font-size: 20px;
}

@media only screen and (max-width: 650px) {
  * {
    font-size: 12px;
  }
}
