*{
    font-weight: bolder;
    font-family:Arial, Helvetica, sans-serif;
    color: #333;
    font-size: 20px;
    background-color: rgb(25, 88, 88);
}

#calculator{
    width: 400px;
    height: 550px;
    margin-top: 65px;
    margin-left: 500px;
    border: 1px solid cadetblue;
}
#result{
    border: 3px solid rgb(243, 243, 243);
    margin: 10px;
    height: 124px;
    background-color: white;
    border-radius: 10px;
}
#result1{
    float: left;
    justify-content: right;
    background-color: white;
    font-size: 30px;
    display: flex;
}
#result1 p{
    background-color: white;
    font-size: 30px;
}

#result2{
    float: right;
    background-color: white;
    justify-content: right;
    font-size: 30px;
}
#result2 p{
    background-color: white;
    font-size: 30px;
}

.botones{
    width: 100px;
    height: 100px;
    background-color: cadetblue;
    border-style: none;
    border: 1px solid darkcyan;
}
.botones:hover{
    background-color: darkcyan;
}
.botones.suma{
    background-color: darkcyan;
    font-size: 30px;
}
.botones.suma:hover{
    background-color: rgb(3, 71, 71);
    color: white;
}

#filaUno{
    float: none;
    display: flex;
}
#filaDos{
    float: none;
    display: flex;
}
#filaTres{
    float: none;
    display: flex;
}
#filaCuatro{
    float: none;
    display: flex;
}
#reset{
    font-size: 20px;
}